CouchDB==0.8
Cython==0.15.1
Pattern==2.1
PyDispatcher==2.0.3
Scrapy==0.14.0.2841
Twisted==11.1.0
couchdbkit==0.5.7
http-parser==0.7.1
ipython==0.11
lxml==2.3.2
pyOpenSSL==0.13
pymongo==2.1
pysmell==0.7.3
restkit==3.3.2
rope==0.9.3
ropemode==0.1-rc2
ropevim==0.3-rc
w3lib==1.0
wsgiref==0.1.2
zope.interface==3.8.0
